
body {
  background: #293341;
  color: white;
  font-family: Roboto, sans-serif;
}

.comment {
  margin: 1em auto;
}

.media-heading {
  color: white;
}
.media-body {
  color: #49515d;
}

.footer {
  margin: 2em 0;
}

[class*='-title'] {
  text-align: center;
  margin: 1em auto;
  border-bottom: 1px solid #232b38;
}

.counter-container {
  text-align: center;
  margin: 2em;
}

.counter {
  font-size: 4em;
  background: #62b09a;
  border-radius: .1em;
  padding: .5em;
  box-sizing: border-box;
}
