{% load staticfiles %}{% load bootstrap3 %}{% spaceless %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ site.name }} </title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    {# =Bootstrap #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href='{% static 'app.css' %}' rel='stylesheet' type='text/css'>


    {% block extra_css %}{% endblock %}


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static 'js/html5shiv.js' %}"></script>
      <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->

 </head>

  <body>


    <div class="container">
      <main class="main">
      <div class="row counter-container">

        <h1 class="counter-title">Despidos registrados</h1>

        <div class="counter-container">
          <span class="counter">
            358.000
          </span>
        </div>
      </div>
      <div class="row">

        <div class="comments-container">

          <h1 class="comments-title">Ultimos comentarios:</h1>

          {% for comment in comments %}
            <div class="col-md-4">
              {% include '_comment.html' %}
            </div>
          {% endfor %}

        </div>
      </div>
      </main>
{% if latest_dismissals  %}
  sarasa
{% endif %}
          {% for dismissal in latest_dismissals %}
            <div class="col-md-4">
              sarasas
              {{ dismissal.created }}
            </div>
          {% endfor %}


      <footer class="footer">
        <div class="row">

          <div class="col-md-5">
            <div class="signup-invite">
              <p>Logueate y contanos tu experiencia</p>
            </div>
          </div>

          <div class="col-md-3">
            <div class="signup-container">
              <a href="{% url 'account_signup' %}"> <i class="glyphicon glyphicon-user"></i>
                Registrarse
              </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="login-container">
              {% if user.is_authenticated %}
              <a href="{% url 'account_logout' %}"><i class="glyphicon glyphicon-lock"></i>
                Cerrar Secion
              </a>
              {% else %}
              <a href="{% url 'account_login' %}"><i class="glyphicon glyphicon-lock"></i>
                Ingresar
              </a>
              {% endif %}
              <a href="{% url 'account_reset_password' %}"> <i class="glyphicon glyphicon-question-sign"></i>
                Olvidaste tu contraseña?
              </a>
            </div>
          </div>
        </div>
      </footer>
    </div>

    {# =js #}
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    {% block extra_js %}{% endblock %}

  </body>
</html>{% endspaceless %}
